
    <form class="row" (ngSubmit) = "cambiarNumeroDeDocumentos(numeroDoc.value) " >
    <div class="col-6 col-sm-4 m-2">     
        <input type="number" class="form-control"  #numeroDoc   placeholder="Numero de documentos">
    </div>
    <div class="col-6 col-sm-4 m-2">
        <button type="submit" class="btn btn-primary">Cambiar</button>
    </div>
    <div class="col  m-2">
        <div class="d-inline p-2 bg-success text-white"><b>Actual:  </b>{{numeroDeDocumentos}}</div>   
    </div>
    </form>
    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <form class="row" (ngSubmit) = "cambiarTotalDeVentas(numeroVentas.value)" >
    <div class="col-6 col-sm-4  m-2">     
        <input type="number" class="form-control"  #numeroVentas  placeholder="Monto total de ventas">
    </div>
    <div class="col-6 col-sm-4  m-2">
        <button type="submit" class="btn btn-primary">Cambiar</button>
    </div>
  
    <div class="col  m-2">
        <div class="d-inline p-2 bg-success text-white"><b>Actual:  </b> {{montoTotalDeVentas}}</div>
    </div>
    </form>
    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>

    <form class="row" (ngSubmit) = "cambiarEfectividad(numeroEfectividad.value)" >
    <div class="col-6 col-sm-4  m-2" >     
        <input type="number" class="form-control" #numeroEfectividad placeholder="Efectividad">
    </div>
    <div class="col-6 col-sm-4  m-2">
        <button type="submit" class="btn btn-primary">Cambiar</button>
    </div>
    <div class="col  m-2">
        <div class="d-inline p-2 bg-success text-white"><b>Actual:  </b> {{efectividad}}</div>
        
    </div>
    </form> 
    <!-- Force next columns to break to new line at md breakpoint and up -->    
    <div class="w-100 d-none d-md-block"></div>

    <form class="row" (ngSubmit) = "cambiarServicio(numeroServicio.value)">
    <div class="col-6 col-sm-4  m-2">     
        <input type="number" class="form-control" #numeroServicio  placeholder="Servicio">
    </div>
    <div class="col-6 col-sm-4  m-2">
        <button type="submit" class="btn btn-primary">Cambiar</button>
    </div>
  
    <div class="col  m-2">
        <div class="d-inline p-2 bg-success text-white"><b>Actual:  </b> {{servicio}}</div>
        
    </div>
    </form>
    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>
  
    <form class="row" (ngSubmit) = "cambiarEficiencia(numeroEficiencia.value)">
    <div class="col-6 col-sm-4  m-2">     
        <input type="number" class="form-control" #numeroEficiencia  placeholder="Eficiencia">
    </div>
    <div class="col-6 col-sm-4  m-2">
        <button type="submit" class="btn btn-primary">Cambiar</button>
    </div>
  
    <div class="col  m-2">
        <div class="d-inline p-2 bg-success text-white"><b>Actual:  </b> {{eficiencia}}</div>
        
    </div>
    </form>
     <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>
  
    <form class="row" (ngSubmit) = "cambiarCumplimiento(numeroCumplimiento.value)">
    <div class="col-6 col-sm-4  m-2">     
        <input type="number" class="form-control" #numeroCumplimiento  placeholder="Cumplimiento">
    </div>
    <div class="col-6 col-sm-4  m-2">
        <button type="submit" class="btn btn-primary">Cambiar</button>
    </div>
    <div class="col  m-2">
        <div class="d-inline p-2 bg-success text-white"><b>Actual:  </b>  {{cumplimiento}}</div>
       
    </div>
    </form>
