<div class="container h-100">
  <div class="row justify-content-center h-100">
    <div class="col-sm-8 align-self-center text-center">

      <div class="card shadow">
        <div class="card-body" >
          <div class="card-group ">

            <div class="card " >

              <div class="row justify-content-center h-100">
                <div class="col-sm-8 align-self-center text-center">

                  <img src="./assets/images/carrera.png" class="card-img-top" alt="...">

                </div>
              </div>

              <div class="card-body" >
                <h5 class="card-title">Establecer meta</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                  additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/usuariosAdmin">Ir</button>

              </div>
            </div>
            <div class="card ">
              <div class="row justify-content-center h-100">
                <div class="col-sm-8 align-self-center text-center">

                  <img src="./assets/images/sobresalir.png" class="card-img-top " alt="...">

                </div>
              </div>


              <div class="card-body">
                <!-- poner boton aca -->
                <h5 class="card-title">Ingresar datos</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                  additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/ingresarDatos">Ir</button>

              </div>

            </div>

            <div class="card">
              <div class="row justify-content-center h-100">
                <div class="col-sm-8 align-self-center text-center">

                  <img src="./assets/images/seo-report.png" class="card-img-top " alt="...">

                </div>
              </div>


              <div class="card-body">
                <!-- poner boton aca -->
                <h5 class="card-title">Ver reporte</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                  additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/reportes">Ir</button>

              </div>

            </div>

            <div class="card">
              <div class="row justify-content-center h-100">
                <div class="col-sm-8 align-self-center text-center">

                  <img src="./assets/images/equipo.png" class="card-img-top " alt="...">

                </div>
              </div>


              <div class="card-body">
                <!-- poner boton aca -->
                <h5 class="card-title">Registrar usuario</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                  additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/registro">Ir</button>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>