
<div class="container-fluid ">
  <div class="page-header p-5" align="center">
    <h1 >Estadísticas al periodo <small>{{periodo}}</small></h1>
  </div>
    <div class="row" align="center">
        <div class="col">
            <ngx-charts-bar-horizontal
            [view]="view"
            [scheme]="colorScheme"
            [results]="graficoNumeroDocumentos"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel1"
            >
          </ngx-charts-bar-horizontal>
        </div>
        <div class="col" >
            <ngx-charts-bar-horizontal
            [view]="view"
            [scheme]="colorScheme"
            [results]="graficoEfectividad"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel2"
            >
          </ngx-charts-bar-horizontal>
        </div>
      
    </div>
    <hr> 
    <div class="row" align="center">
        <div class="col">
            <ngx-charts-bar-horizontal
            [view]="view"
            [scheme]="colorScheme"
            [results]="graficoServicio"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel3"
            >
          </ngx-charts-bar-horizontal>
        </div>
        <div class="col">
         
                <ngx-charts-bar-horizontal
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="graficoEficiencia"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel4"
                  >
                </ngx-charts-bar-horizontal>
               
           
        </div>
      
    </div>
    <hr>
    <div class="row" align="center">
       <div class= "col">
        <ngx-charts-bar-horizontal
        [view]="view"
        [scheme]="colorScheme"
        [results]="graficoCumplimiento"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel5"
        >
      </ngx-charts-bar-horizontal>
       </div>
       <div class= "col">
        <ngx-charts-bar-horizontal
        [view]="view"
        [scheme]="colorScheme"
        [results]="graficoMontoTotalVentas"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel5"
        >
      </ngx-charts-bar-horizontal>
       </div>
    </div>
  
    
</div>




